################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/git/FileContentIndex/43331b0f-d7d9-443f-a959-e88d13aa1ce1.vsidx
/.vs/git/FileContentIndex/a63599d0-b9ce-49bf-8e29-899ada0143f2.vsidx
/.vs/git/FileContentIndex/bd8a0980-dbd6-4407-95bd-c77025562d9e.vsidx
