################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/git/FileContentIndex/43331b0f-d7d9-443f-a959-e88d13aa1ce1.vsidx
